{% extends "base.html" %}

{% block content %}

{% load crispy_forms_filters %}
<div class="container py-5 bc_color" style="width: 80vh">
    <h1>Login</h1>
        <form method="post" action="{% url 'shop:login' %}" novalidate>
          {% csrf_token %}
          {{ form|crispy }}
          <input type="submit" value="Login" class="btn btn-primary" />
          <a class="btn btn-secondary" href="{% url 'shop:index' %}">Back to homepage</a>
          <input type="hidden" name="next" value="" />
    </form>
</div>

{% endblock %}
