{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}

<!--Register--> 
<div class="container py-5 bc_color" style="height: 95vh">
	<h1>Sign Up</h1>
    <p class="signup_message">After registration you will be redirected to login page</p>
	<form method="POST" novalidate>
		{% csrf_token %}
		{{ form|crispy }}
		<button class="btn btn-primary" type="submit">Register</button>
        <a class="btn btn-secondary" href="{% url 'shop:index' %}">Back to homepage</a>
	</form>
	<p class="text-center">If you already have an account, <a href="{% url 'shop:login' %}">login</a> instead.</p>
</div>

{% endblock %}