{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Auto parts List
  </h1>
{#    <form action="" method="get" class="form-inline">#}
{#        {{ manufacturer_search_form|crispy }}#}
{#        <input type="submit" value="🔍✨" class="btn btn-info">#}
{#    </form>#}
  {% if autoparts_list %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Manufacturer</th>
      </tr>

      {% for autopart in autoparts_list %}
        <tr>
          <td>
              {{ autopart.id }}
          </td>
          <td>
              {{ autopart.part_name }}
          </td>
          <td>
              {{ autopart.price }}
          </td>
          <td>
              {{ autopart.manufacturer.name }}
          </td>
        </tr>
      {% endfor %}
    </table>

  {% else %}
      <p>There are no items in the service.</p>
  {% endif %}
{% endblock %}