{% extends "base.html" %}

{% block content %}
  <h1>
    Your auto parts
  </h1>
  {% if order %}
    <table class="table">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Manufacturer</th>
        <th></th>
      </tr>

      {% for autopart in order.auto_parts.all %}
        <tr>
          <td>
              {{ autopart.id }}
          </td>
          <td>
              {{ autopart.part_name }}
          </td>
          <td>
              {{ autopart.price }}$
          </td>
          <td>
              {{ autopart.manufacturer.name }}
          </td>
        </tr>
      {% endfor %}
    </table>
      <br>
    <h4> Summary cost your parts: {{ summary_cost }}$</h4>

  {% else %}
      <p>There are no items in the basket.</p>
  {% endif %}
{% endblock %}