{% extends "base.html" %}

{% block content %}
  <h1 class="page_title">
    Username: {{ customer.username }}
    <a href="{% url 'shop:customer-update' pk=customer.id %}" class="btn btn-secondary link-to-page">
      Update your profile
    </a>
    {% if user.is_staff %}
    <a href="/admin/" class="btn btn-secondary link-to-page">
      Go to admin page
    </a>
    {% endif %}
  </h1>
  <div class="bc_color customer_detail">
    <p><strong>First name:</strong> {{ customer.first_name }}</p>
    <p><strong>Last name:</strong> {{ customer.last_name }}</p>
    <p><strong>Email:</strong> {{ customer.email }}</p>
    <p><strong>Is staff:</strong> {{ customer.is_staff }}</p>
  </div>

{% endblock %}