{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1 class="page_title">
    Auto parts List for manufacturer: {{ manufacturer.name }}({{ manufacturer.country }})
  </h1>

  {% if autoparts_list %}
    <table class="table bc_color table-borderless">
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th></th>
      </tr>

      {% for autopart in autoparts_list %}
        <tr>
          <td>
              {{ autopart.id }}
          </td>
          <td>
              {{ autopart.part_name }}
          </td>
          <td>
              {{ autopart.price }}$
          </td>
          <td>
            <a href="{% url 'shop:buy' pk=autopart.id %}" class="btn btn-success link-to-page">
            Buy
            </a>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
      <p class="page_title">There are no items in the shop.</p>
  {% endif %}
    <a class="btn btn-secondary" href="{% url 'shop:manufacturer-list' %}">Back</a>
{% endblock %}
